<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/responsiveCSSStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    
    <script type="text/javascript">
      var checkCookie = function(){
        if(document.cookie) {
          $("#userProfile").css("visibility", "visible");
          $("#rateEngine").css("visibility", "visible");
          $("#userProfile").text("Welcome, " + localStorage.getItem('username'))
          $("#signUpBox").hide()
        }
        else {
          $("#userProfile").css("visibility", "hidden");
        }
      }
      function getUsername() {
        document.getElementById("userProfile").innerHTML = "Welcome, " + localStorage.getItem('username');
      }
    </script>
    <body onload="checkCookie()">
    <body onload="getUsername()">
  </head>
<body>

<div class="container-fluid">
  <div class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      </div>
      <div class="item">
      </div>
      <div class="item">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background: rgba(0,0,0,0.5); position:relative; max-width:100%">
  <div class="row-fluid">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <nav class="navbar" style="position:relative; margin-top:3%">
        <div class="navbar-header">
          <a class="navbar-brand" id="homePage" href="#" style="font-size:60px; color: #ffffff; display:inline:block"><img src="../images/ERC_White.png" width="100" height="100" style="display:inline-block">Energy Rate Comparator</a>
          <script type="text/javascript">
          document.getElementById("homePage").onclick = function () {
            location.href = "http://" + window.location.host;
          };
          </script>
        </div>
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav dropdown" style="float:none">
            <a href="#" class="dropdown-toggle" id="userProfile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff; font-size:25px"><span class="caret"></span></a>
            <ul class="dropdown-menu" style="font-size:25px">
              <li><a href="#">Account Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" id="logout">Logout</a></li>
              <script type="text/javascript">
                $(document).ready(function() {
                    $("#logout").click(logout);
                    
                });
                var logout = function() {
                  $("#userProfile").css("visibility", "hidden");
                  localStorage.clear()
                  $.ajax({
                    type: 'GET',
                    url: '/logout'
                  });
                  location.href = "http://" + window.location.host;
                };
                
              </script>
            </ul>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>  

<div class="container-fluid" style="padding-top:5%; max-width:60%;">
  <div class="panel panel-info" style="box-shadow: 0 0 30px black; background: rgba(0,0,0,0.5);">
    <div class="panel-heading" style="background: rgba(0,0,0,0.5);">
      <div class="panel-title" >
        <h1 style="color: #ffffff; text-align:center">About Us</h1>
      </div>
    
    </div>
    <div class="panel-body" style="font-size:220%; color: #ffffff;">
      <p>Our team consists of 4 extremely talented programmers that want to 
      take programming to the next level. We have designed a sleek looking 
      highly functional energy rate comparison tool for not only businesses 
      but also home residents.</p>
      <p>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding-top:5%; max-width:60%;">
  <div class="panel panel-info" style="box-shadow: 0 0 30px black; background: rgba(0,0,0,0.5);">
    <div class="panel-heading" style="background: rgba(0,0,0,0.5);">
      <div class="panel-title" >
        <img src="../images/SB.jpg" style="width:300px;height:400px; display: inline-block">
        <h1 style="color: #ffffff; text-align:center; display: inline-block">Scott Belanger</h1>
      </div>
    
    </div>
    <div class="panel-body" style="font-size:220%; color: #ffffff;">
      <p>Scott Belanger.. The one and only. Fun and kind and loves
      to partay. Scott enjoys long nights of karaoke and Timber ft. Ke$ha.
      He likes to watch stupidly long hours of tv and movies and has 
      the multitasking capabilities of a ninja.</p>
      <p>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding-top:5%; max-width:60%;">
  <div class="panel panel-info" style="box-shadow: 0 0 30px black; background: rgba(0,0,0,0.5);">
    <div class="panel-heading" style="background: rgba(0,0,0,0.5);">
      <div class="panel-title" >
        <img src="../images/LP.jpg" style="width:300px;height:400px; display: inline-block">
        <h1 style="color: #ffffff; text-align:center; display: inline-block">Laura Perry</h1>
      </div>
    
    </div>
    <div class="panel-body" style="font-size:220%; color: #ffffff;">
      <p>Laura Perry, the whiz, the kid! Laura Perry is an amazing and fun
      filled human being. She likes to code for hours on end and enjoys the
      occasional shot of Jack Daniels. LP as she is known, spends long nights
      hunting for her prey, equipped with night vision...</p>
      <p>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding-top:5%; max-width:60%;">
  <div class="panel panel-info" style="box-shadow: 0 0 30px black; background: rgba(0,0,0,0.5);">
    <div class="panel-heading" style="background: rgba(0,0,0,0.5);">
      <div class="panel-title" >
        <img src="../images/TC.jpg" style="width:275px;height:450px; display: inline-block">
        <h1 style="color: #ffffff; text-align:center; display: inline-block">Trevor Crawford</h1>
      </div>
    
    </div>
    <div class="panel-body" style="font-size:220%; color: #ffffff;">
      <p>Trevor Crawford, the duck face of the group. Trevor enjoys spending 
      hours upon hours in front of the mirror perfecting the duch face look. 
      Trevor enjoys flaunting his shit and literally does not give a f***.</p>
      <p>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding-top:5%; max-width:60%;">
  <div class="panel panel-info" style="box-shadow: 0 0 30px black; background: rgba(0,0,0,0.5);">
    <div class="panel-heading" style="background: rgba(0,0,0,0.5);">
      <div class="panel-title" >
        <img src="../images/ZH.jpg" style="width:300px;height:400px; display: inline-block">
        <h1 style="color: #ffffff; text-align:center; display: inline-block">Zachary Hoggard</h1>
      </div>
    
    </div>
    <div class="panel-body" style="font-size:220%; color: #ffffff;">
      <p>Zachary Hoggard, the iron chef of the group. Zachary gives Gordon 
      Ramsay a run for his money with his phenomenal toast cooking capabilties, 
      and cereal pouring style. Zach enjoys baking the occasional cookie and has 
      been often called, "The Hamburglar" of the group.</p>
      <p>
    </div>
  </div>
</div>


<footer class="footer" style="color: #ffffff; background: rgba(0,0,0,0.5);">
  <div class="container clear-top">
    <div class="col-md-4" style="text-align:center">
      <a href="#" id="aboutus" style="color: #ffffff; font-size:25px"><span class="glyphicon glyphicon-info-sign"></span>About Us</a>
      <script type="text/javascript">
      document.getElementById("aboutus").onclick = function () {
        location.href = "http://" + window.location.host + "/aboutUsPage";
      };
      </script>
    </div>
    <div class="col-md-4" style="text-align:center">
      <a href="#" id="privacyInfo" style="color: #ffffff; font-size:25px"><span class="glyphicon glyphicon-lock"></span>Privacy Information</a>
      <script type="text/javascript">
      document.getElementById("privacyInfo").onclick = function () {
        location.href = "http://" + window.location.host + "/privacyInformation";
      };
      </script>
    </div>
    <div class="col-md-4" style="text-align:center">
      <a href="#" id="terms" style="color: #ffffff; font-size:25px"><span class="glyphicon glyphicon-list-alt"></span>Terms and Conditions</a>
      <script type="text/javascript">
      document.getElementById("terms").onclick = function () {
        location.href = "http://" + window.location.host + "/termsPage";
      };
      </script>
    </div>
  </div>
</footer>

</body>
</html>