<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/responsiveCSSStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
      var checkCookie = function(){
        if(document.cookie) {
          $("#userProfile").css("visibility", "visible");
          $("#rateEngine").css("visibility", "visible");
          $("#userProfile").text("Welcome, " + localStorage.getItem('username'))
          $("#signUpBox").hide()
        }
        else {
          $("#userProfile").css("visibility", "hidden");
        }
      }
      function getUsername() {
        document.getElementById("userProfile").innerHTML = "Welcome, " + localStorage.getItem('username');
      }
    </script>
    <body onload="checkCookie()">
    <body onload="getUsername()">
  </head>
<body>

<div class="container-fluid">
  <div class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      </div>
      <div class="item">
      </div>
      <div class="item">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background: rgba(0,0,0,0.5); position:relative; max-width:100%">
  <div class="row-fluid">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <nav class="navbar" style="position:relative; margin-top:3%">
        <div class="navbar-header">
          <a class="navbar-brand" id="homePage" href="#" style="font-size:60px; color: #ffffff;"><span class="glyphicon glyphicon-home"></span>Energy Rate Comparator</a>
          <script type="text/javascript">
          document.getElementById("homePage").onclick = function () {
            location.href = "http://" + window.location.host;
          };
          </script>
        </div>
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav dropdown" style="float:none">
            <a href="#" class="dropdown-toggle" id="userProfile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff; font-size:25px"><span class="caret"></span></a>
            <ul class="dropdown-menu" style="font-size:25px">
              <li><a href="#">Account Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" id="logout">Logout</a></li>
              <script type="text/javascript">
                $(document).ready(function() {
                    $("#logout").click(logout);
                    
                });
                var logout = function() {
                  $("#userProfile").css("visibility", "hidden");
                  localStorage.clear()
                  $.ajax({
                    type: 'GET',
                    url: '/logout'
                  });
                  location.href = "http://" + window.location.host;
                };
                
              </script>
            </ul>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>  

<div class="container-fluid" style="padding-top:5%; max-width:60%;">
  <div class="panel panel-info" style="box-shadow: 0 0 30px black; background: rgba(0,0,0,0.5);">
    <div class="panel-heading" style="background: rgba(0,0,0,0.5);">
      <div class="panel-title" >
        <h1 style="color: #ffffff; text-align:center">Privacy Information</h1>
      </div>
    
    </div>
    <div class="panel-body" style="font-size:220%; color: #ffffff;">
      <p>The Energy Rate Comparator is a tool allowing individuals or
      businesses to calculate costs based on given information. All
      passwords and private information are stored on a database after
      being encrypted. No private information will ever be released
      or sold by the ERC team. </p>
      <p>
    </div>
  </div>
</div>


<footer class="footer" style="color: #ffffff; background: rgba(0,0,0,0.5); bottom:0; position:absolute; width:100%">
  <div class="container clear-top">
    <div class="col-md-4" style="text-align:center">
      <a href="#" id="aboutus" style="color: #ffffff; font-size:25px"><span class="glyphicon glyphicon-info-sign"></span>About Us</a>
      <script type="text/javascript">
      document.getElementById("aboutus").onclick = function () {
        location.href = "http://" + window.location.host + "/aboutUsPage";
      };
      </script>
    </div>
    <div class="col-md-4" style="text-align:center">
      <a href="#" id="privacyInfo" style="color: #ffffff; font-size:25px"><span class="glyphicon glyphicon-lock"></span>Privacy Information</a>
      <script type="text/javascript">
      document.getElementById("privacyInfo").onclick = function () {
        location.href = "http://" + window.location.host + "/privacyInformation";
      };
      </script>
    </div>
    <div class="col-md-4" style="text-align:center">
      <a href="#" id="terms" style="color: #ffffff; font-size:25px"><span class="glyphicon glyphicon-list-alt"></span>Terms and Conditions</a>
      <script type="text/javascript">
      document.getElementById("terms").onclick = function () {
        location.href = "http://" + window.location.host + "/termsPage";
      };
      </script>
    </div>
  </div>
</footer>


</body>
</html>