* {
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4,a,{
    font-size: 95%;
  }
  h1 {
    font-size: 24px;  
  }
  h2 {
    font-size: 22px;  
  }
  h3 {
    font-size: 18px;  
  }
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4,a, {
    font-size: 90%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
}

a :visited{ 
    color: pink;
    outline: none;
}
a { outline: none; }

@media (max-width: @screen-xs) {
  body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
  body{font-size: 14px;}
}
      
@media (max-width: @screen-md) {
  body{font-size: 16px;}
}
