<!DOCTYPE html>
<html ng-app="comparisonPage" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/responsiveCSSStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://rawgithub.com/highslide-software/draggable-points/master/draggable-points.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="controllers/comparisonPage.js"></script>
	<script src="controllers/pricingModelController.js"></script>
	<script src="controllers/pmSelectionController.js"></script>
    <script>
      function showCharts() {
        document.getElementById("EnergyRateConsumption").style.visibility = "visible";
        document.getElementById("TimeCostGraph").style.visibility = "visible";
      }
    </script>
    <style type="text/css">
       a:link {color: none;
                text-decoration: none;
                outline:none;}      /* unvisited link */
       a:visited {color: white;
                  text-decoration: none;
                  outline:none;}   /* visited link */
       a:hover {color: none;
                text-decoration: none;}     /* mouse over link */
       a:active {color: none;
                 text-decoration: none;
                 outline:none;}    /* selected link */
    </style>
  </head>
<body>

<!-- Creating the header bar -->
<nav class="navbar" style="position:absolute">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" id="homePage" href="#" style="font-size:60px; color: #ffffff;"><span class="glyphicon glyphicon-tree-conifer"></span>Energy Rate Comparator</a>
      <script type="text/javascript">
      document.getElementById("homePage").onclick = function () {
        location.href = "http://localhost:3000";
      };
      </script>
    </div>
    
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" style="float:none">
        <li><a href="#" style="color: #ffffff; font-size:25px">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff; font-size:25px">Your Profile<span class="caret"></span></a>
          <ul class="dropdown-menu" style="font-size:25px">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
  </div>
</nav>

<div class="container-fluid " style="max-width:60%; box-shadow: 0 0 30px black; background-color: #00001a;">
<!--Create the fade style background -->
<div class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      </div>
    </div>

</div>

<div class="container-fluid">
  <div class="row-fluid" style="padding-top:15%">
  <div class="panel panel-info" style="box-shadow: 0 0 30px black; background: rgba(0,0,0,0.5);">
    <div class="panel-heading" style="background: rgba(0,0,0,0.5);">
      <div class="panel-title" style="text-align:center">
        <h1 style="color: #ffffff">Start by inputting some data!</h1>
      </div>
    </div>
</div>

<div class="container-fluid" align="center">
  <div class="row">
    <div class="col-md-3" style="text-align:center">
      <a href="#" id="greenButton" style="font-size:30px; display:inline-block;"><span class="glyphicon glyphicon-leaf"></span>Green Button</a>
    </div>
    <div class="col-md-3" style="text-align:center">
      <a href="#" id="csvDownload" style="font-size:30px; display:inline-block;"><span class="glyphicon glyphicon-file"></span>Download CSV</a>
    </div>
    <div class="col-md-3" style="text-align:center">
      <a href="#" id="manualEnter" style="font-size:30px; display:inline-block;" data-toggle="modal" data-target="#hourlyTable"><span class="glyphicon glyphicon-list-alt"></span>Manual Data Entry</a>
      <div id="hourlyTable" class="modal fade" role="dialog" style="font-size: 20px;">>
        <div class="modal-dialog" >
          <div class="modal-content">
            <div class="modal-header">
              Please enter the hourly data!
            </div>
            <div class="modal-body">
              <button id="calendar" type="button" class="btn btn-default">Calendar</button>
              <script>
              $(document).ready(function () {
                $("#calendar").jqxCalendar({theme: "arctic", width:250, height:250});
              });
              </script>
              <div>
                Or select an interval you wish to use:
              </div>
              <div>
                  <a href="#weeklyTable" style=" display:inline-block;" data-dismiss="modal" data-toggle="modal">Weekly</a>
                  <a href="#monthlyTable" id="monthly" style=" display:inline-block;" data-dismiss="modal" data-toggle="modal">Monthly</a>
              </div>
              <div class="container-fluid">
              <form>
                <div class="form-group">
                  <label class="control-label col-xs-5">0:00 to 1:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">1:00 to 2:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">2:00 to 3:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">3:00 to 4:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">4:00 to 5:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">5:00 to 6:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">6:00 to 7:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">7:00 to 8:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">8:00 to 9:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">9:00 to 10:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">10:00 to 11:00am </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">11:00 to 12:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">12:00 to 1:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">1:00 to 2:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">2:00 to 3:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">3:00 to 4:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">4:00 to 5:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">5:00 to 6:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">6:00 to 7:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">7:00 to 8:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">8:00 to 9:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">9:00 to 10:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">10:00 to 11:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">11:00 to 12:00pm </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
              </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div id="weeklyTable" class="modal fade" role="dialog" style="font-size: 20px;">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                Please enter the weekly data!
              </div>
              <div class="modal-body">
                <div>
                  Or select an interval you wish to use:
                </div>
                <div>
                  <a href="#hourlyTable" style=" display:inline-block;" data-dismiss="modal" data-toggle="modal">Hourly</a>
                  <a href="#monthlyTable" style=" display:inline-block;" data-dismiss="modal" data-toggle="modal">Monthly</a>
                </div>
                <div class="container-fluid">
                  <form>
                    <div class="form-group">
                      <label class="control-label col-xs-5">Monday </label>
                      <div class="col-xs-7">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-5">Tuesday </label>
                      <div class="col-xs-7">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-5">Wednesday </label>
                      <div class="col-xs-7">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-5">Thursday </label>
                      <div class="col-xs-7">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-5">Friday </label>
                      <div class="col-xs-7">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-5">Saturday </label>
                      <div class="col-xs-7">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-xs-5">Sunday </label>
                      <div class="col-xs-7">
                        <input type="number" class="form-control">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id="monthlyTable" class="modal fade" role="dialog" style="font-size: 20px;">
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header">
            Please enter the monthly data!
          </div>
          <div class="modal-body">
            <div>
              Or select an interval you wish to use:
            </div>
            <div>
              <a href="#hourlyTable" style=" display:inline-block;" data-dismiss="modal" data-toggle="modal">Hourly</a>
              <a href="#weeklyTable" style=" display:inline-block;" data-dismiss="modal" data-toggle="modal">Weekly</a>
            </div>
            <div class="container-fluid">
              <form>
                <div class="form-group">
                  <label class="control-label col-xs-5">January </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">February </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">March </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">April </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">May </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">June </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">July </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">August </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">September </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">October </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">November </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-5">December </label>
                  <div class="col-xs-7">
                    <input type="number" class="form-control">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="text-align:center">
      <a href="#" id="csvUpload" style="font-size:30px; display:inline-block;" data-toggle="modal" data-target="#uploadCSV"><span class="glyphicon glyphicon-arrow-up"></span>Upload CSV</a>
      <div id="uploadCSV" class="modal fade" role="dialog" style="font-size: 20px;">>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" style="font-size: 20px;">Please select a CSV file to upload!</h4>
            </div>
            <input type="file" style="width:100%">
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row" style="padding-top:3%">
  <div class="panel panel-info" style="box-shadow: 0 0 30px black; background: rgba(0,0,0,0.5);">
    <div class="panel-heading" style="background: rgba(0,0,0,0.5);">
      <div class="panel-title" style="text-align:center">
        <h1 style="color: #ffffff">Select a pricing model!</h1>
      </div>
    </div>
</div>

<!-- Needed an extra div here to help with controller scope -->
<div ng-controller="pricingModelController as pmCtrl">

<div class="row" style="padding-bottom:5%">
    <div class="col-md-3" style="text-align:center" ng-repeat="label in pmCtrl.columnLabels">
		<label class="control-label" style="font-size:25px; color: #ffffff;">{{label.title}}</label>
	</div>
</div>

<div ng-repeat="row in pmCtrl.rows">
<div id="{{row.index}}" ng-controller="pmSelectionController as selectCtrl">

<div class="container-fluid">
  <div class="row" style="padding-bottom:5%">
    <div class="col-md-3" style="text-align:center">
      <div class="selectContainer">
        <select class="form-control" name="size" style="font-size: 20px;" 
				ng-model="selectCtrl.countrySelect" ng-change="selectCtrl.countrySelectChange()">
            <option ng-repeat="option in selectCtrl.countryList" value="{{option.country}}" >{{option.country}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3" style="text-align:center">
      <div class="selectContainer">
        <select class="form-control" name="size" style="font-size: 20px;" 
				ng-model="selectCtrl.citySelect" ng-change="selectCtrl.citySelectChange()">
            <option ng-repeat="option in selectCtrl.cityList" value="{{option.city}}" >{{option.city}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3" style="text-align:center">
      <div class="selectContainer">
        <select class="form-control" name="size" style="font-size: 20px;" 
				ng-model="selectCtrl.ldcSelect" ng-change="selectCtrl.ldcSelectChange()">
            <option ng-repeat="option in selectCtrl.ldcList" value="{{option.companyName}}" >{{option.companyName}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3" style="text-align:center">
      <div class="selectContainer">
        <select class="form-control" name="size" style="font-size: 20px;" 
				ng-model="selectCtrl.rateSelect" ng-change="selectCtrl.rateSelectChange()">
            <option ng-repeat="option in selectCtrl.rateList" value="{{option.rateType}}" >{{option.rateType}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

</div>
</div>

<div class="container-fluid" style="text-align:center">
  <a href="" id="submitBtn" style="font-size:30px; display:inline-block;" ng-click="pmCtrl.submitPricingModel()"><span class="glyphicon glyphicon-check"></span>Submit</a>
</div>

</div>

<!--This is hiCharts Energy Consumption Graph-->
<div class="container-fluid" style="padding-top: 4%">
  <div class="row" >
    <div class="col-sm-12 panel" style="box-shadow: 0 0 30px black;">
      <div id="EnergyRateConsumption" style="height: 400px; font-size:15px;">
      </div>
      
      <!--Javascript for highchart, draggable chart -->
      <script type="text/javascript">
        var chart = new Highcharts.Chart({
          chart: {
            renderTo: 'EnergyRateConsumption',
            animation: false
          },
          title: {
            text: 'Energy Rate Consumption'
          },
          xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            
          },
          plotOptions: {
            
            column: {
              stacking: 'normal'
            },
            line: {
              cursor: 'ns-resize'
            }
          },
          tooltip: {
            yDecimals: 2
          },
          series: [{
            data: [0, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
            draggableY: true,
            rotation: 90
          }]
        });
      </script>
    </div>
  </div>
</div>

<!--This is hiCharts Time Cost Graph-->
<div class="container-fluid">
  <div class="row" >
    <div class="col-sm-12 panel" style="box-shadow: 0 0 30px black;">
      <div id="TimeCostGraph" style="height: 400px; font-size:15px;">
      </div>
      
      <!--Javascript for highchart, draggable chart -->
      <script type="text/javascript">
        var chart = new Highcharts.Chart({
          chart: {
            renderTo: 'TimeCostGraph',
            animation: false
          },
          title: {
            text: 'Time Cost Graph'
          },
          xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            
          },
          plotOptions: {
            
            column: {
              stacking: 'normal'
            },
            line: {
              cursor: 'ns-resize'
            }
          },
          tooltip: {
            yDecimals: 2
          },
          series: [{
            data: [216.4, 100.1, 73, 194.1, 61.1, 144.0, 176.0, 135.6, 148.5, 78.3, 95.6, 123.4],
            draggableY: true,
            rotation: 90
          }]
        });
      </script>
    </div>
  </div>
</div>

</div>

 <!-- Site footer -->
<div class="bottom" style=" color: #ffffff;">
  <div class="container">
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-info-sign"></span>About Us</h3>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-lock"></span>Privacy Information</h3>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-list-alt" ></span>Terms and Conditions</h3>
    </div>
  </div>
</div>

</body>
</html>